{% extends 'form.html' %}
{% load static %}
{% load widget_tweaks %}

{% block form_components %}
    {% for field in form.visible_fields %}
{#        {% if field.label == 'Nombres' or field.label == 'Apellidos' or field.label == 'Email' or field.label == 'Usuario'%}#}
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {% render_field field class="form-control" title=field.label autocomplete="off" %}
                </div>
            </div>
{#        {% endif %}#}
    {% endfor %}
{% endblock %}