{% extends "home.html" %}
{% load static %}

{% block head %}
    <script src="{% static "../static/lib/highcharts-8.1.2/highcharts.js" %}"></script>
    <script src="{% static "../static/lib/highcharts-8.1.2/modules/exporting.js" %}"></script>
    <script src="{% static "../static/lib/highcharts-8.1.2/modules/export-data.js" %}"></script>
    <script src="{% static "../static/lib/highcharts-8.1.2/modules/accessibility.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            {% if request.user.is_superuser %}
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3 bg-gradient-gray">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-book"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Libros publicados</span>
                            <span class="info-box-number">{{ book }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3 bg-gradient-gray">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-pen-nib"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Cantidad de autores</span>
                            <span class="info-box-number">{{ writer }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3 bg-gradient-gray">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Cantidad de ventas</span>
                            <span class="info-box-number">{{ sales }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3 bg-gradient-gray">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-dollar-sign"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Total de las ventas</span>
                            <span class="info-box-number">$ {{ total|floatformat:2 }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            {% else %}
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3 bg-gradient-gray">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-book"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Libros publicados</span>
                            <span class="info-box-number">{{ book }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3 bg-gradient-gray">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-shopping-cart"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Cantidad de ventas</span>
                            <span class="info-box-number">{{ sales }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3 bg-gradient-gray">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Libros vendidos</span>
                            <span class="info-box-number">{{ sales_libros }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3 bg-gradient-gray">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-calendar-alt"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Última venta</span>
                            <span class="info-box-number">
                                {% if sales > 0 %}
                                    {{ last_sale|date:'F Y' }}
                                {% else %}
                                    ---
                                {% endif %}
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            {% endif %}


        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div id="container" class="col-md-12"></div>
            </div>
            <div class="col-lg-6">
                <div id="container1" class="col-md-12"></div>
            </div>
        </div>
    </div>


    <script type="application/javascript">
        //Graph column
        Highcharts.chart('container', {
            chart: {
                type: 'column',
                backgroundColor: '#c2c7d0',
                borderRadius: '20px',
                borderWidth: '2',
                borderColor: '#818990',
                spacingTop: 20
            },
            exporting: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            title: {
                {% if not request.user.is_superuser %}
                    text: 'Libros vendidos - Últimos 5 años'
                {% else %}
                    text: '3 Géneros más vendidos - Últimos 5 años'
                {% endif %}
            },
            subtitle: {
                text: 'Hasta el año de la última fecha de venta'
            },
            xAxis: {
                categories: [
                    {% for m in graph_five_year %}
                        {{m | safe}},
                    {% endfor %}
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad (unidades)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y} unidades</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
                {% if not request.user.is_superuser %}
                    {% for g in graph_sales_five_year %}
                            {
                                name: {{ g | safe }}[0],
                                data: {{ g | safe}}[1]
                            },
                    {% endfor %}
                {% else %}
                    {% for g in graph_gender_five_year %}
                            {
                                name: {{ g | safe }}[0],
                                data: {{ g | safe}}[1]
                            },
                    {% endfor %}
                {% endif %}
            ]
        });

        //Graph pie
        Highcharts.chart('container1', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                backgroundColor: '#c2c7d0',
                borderRadius: '20px',
                borderWidth: '2',
                borderColor: '#818990',
                spacingTop: 20
            },
            exporting: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Porciento de venta mensual'
            },
            subtitle: {
                text: 'Año de la última fecha de venta (' + {{ last_sale|date:'Y' }} + ')'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.2f} %'
                    }
                }
            },
            series: [{
                name: 'Porciento',
                colorByPoint: true,
                data: [
                    {% if not request.user.is_superuser %}
                        {% for g in graph_sales_month_last_year %}
                                {
                                    name: {{ g | safe}}[0],
                                    y: {{ g | safe}}[1]
                                },
                        {% endfor %}
                    {% else %}
                        {% for g in graph_sales_month_last_year_general %}
                                {
                                    name: {{ g | safe}}[0],
                                    y: {{ g | safe}}[1]
                                },
                        {% endfor %}
                    {% endif %}
                ]
            }]
        });
    </script>
{% endblock %}