{% extends 'home.html' %}
{% load static %}

{% block content %}
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-info"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body box-profile">
            <div class="text-center">
                <img class="profile-user-img img-rounded img-fluid"
                     src="{{ imageUrl }}"
                     alt="book picture">
            </div>

            <h3 class="profile-username text-center">{{ object.libro.titulo }}</h3>
            <p class="text-muted text-center">{{ object.libro.genero }}</p>
            <div class="row mt-4">
                <div class="col-md-4">
                    <strong>Autor</strong>
                    <p class="text-muted">
                        {{ object.libro.autor.nombre }} {{ object.libro.autor.apellidos }}
                    </p>
                </div>
                <div class="col-md-4">
                    <strong>Fecha de venta</strong>
                    <p class="text-muted">
                        {{ fecha }}
                    </p>
                </div>
                <div class="col-4">
                    <strong>Mercado</strong>
                    <p class="text-muted">
                        {{ object.mercado }}
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <strong>Precio</strong>
                    <p class="text-muted">
                        ${{ object.precio }}
                    </p>
                </div>
                <div class="col-md-4">
                    <strong>Cantidad</strong>
                    <p class="text-muted">
                        {{ object.cantidad }}
                    </p>
                </div>
                <div class="col-4">
                    <strong>Total</strong>
                    <p class="text-muted">
                        ${{ object.totales }}
                    </p>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <a href="{{ listUrl }}" class="btn btn-secondary">
                <i class="fas fa-times nav-icon"></i> Cerrar
            </a>
        </div>
    </div>
{% endblock %}
