{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{%static "../static/image/favicon.ico" %}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<br>
<br>
<table cellpadding="10" style="margin-bottom: 1px">
    <tbody>
    <tr>
        <td width="35%"
            style="border-top: 1px solid black; border-left: 1px solid black; border-bottom: 1px solid black;">
            <img src="{{ logo }}" width="150px" align="left">
        </td>
        <td style="border-top: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;">
            <h1 style="text-align: left">RESUMEN de PAGOS</h1>
            <h2 style="text-align: left; padding-left: 20px;">Derecho de Autor</h2>
        </td>
    </tr>
    </tbody>
</table>
<br>
<table style="border: 1px solid black; margin-bottom: 1px;">
    <tbody>
    <tr>
        <td>
            <table cellpadding="10">
                <tbody>
                <tr>
                    <td width="10%">
                        <h2>Autor:</h2>
                    </td>
                    <td width="70%">
                        <p style="text-align: center; padding-left: 20px; font-size: 12px;">{{ sale.libro.autor.nombre }} {{ sale.libro.autor.apellidos }}</p>
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                        <h2>Libro:</h2>
                    </td>
                    <td width="70%">
                        <p style="text-align: center; padding-left: 20px; font-size: 12px;">{{ sale.libro.titulo }}</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<br>
<table cellpadding="10" style="margin-bottom: 1px">
    <tbody>
    <tr>
        <td width="8%">
            <h2>Mes:</h2>
        </td>
        <td>
            <p style="font-size: 12px;">{{ sale.fecha|date:'F' }}</p>
        </td>
        <td width="8%">
            <h2>Año:</h2>
        </td>
        <td>
            <p style="font-size: 12px;">{{ sale.fecha|date:'Y' }}</p>
        </td>
        <td width="10%">
            <h2>Tipo:</h2>
        </td>
        <td>
            ---

        </td>
    </tr>
    </tbody>
</table>
<br>
<table cellpadding="10" style="border: 1px solid black; margin-bottom: 1px;">
    <tbody>
    <tr>
        <td>
            <table cellpadding="5" style="border: 2px solid #d3d3d3;">
                <thead>
                <tr>
                    <td align="center" style="padding-top: 5px"><h2>Título</h2></td>
                    <td align="center" style="padding-top: 5px"><h2>Mercado</h2></td>
                    <td align="center" style="padding-top: 5px"><h2>Unidades Vendidas</h2></td>
                    <td align="center" style="padding-top: 5px"><h2>Plan de Pago</h2></td>
                    <td align="center" style="padding-top: 5px"><h2>Porciento de Autor</h2></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td align="center" style="padding-top: 5px">
                        <p style="font-size: 12px;">{{ sale.libro.titulo }}</p>
                    </td>
                    <td align="center" style="padding-top: 5px">
                        <p style="font-size: 12px;">{{ sale.mercado }}</p>
                    </td>
                    <td align="center" style="padding-top: 5px">
                        <p style="font-size: 12px;">{{ sale.cantidad }}</p>
                    </td>
                    <td align="center" style="padding-top: 5px">
                        <p style="font-size: 12px;">{{ sale.libro.pago }}</p>
                    </td>
                    <td align="center" style="padding-top: 5px">
                        <p style="font-size: 12px;">{{ xciento|floatformat:2 }}</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<br>
<table style="margin-bottom: 1px">
    <tbody>
    <tr>
        <td>
            <table align="left" width="250" cellpadding="50" style="margin-bottom: 1px">
                <tbody>
                <tr>
                    <td align="right">
                        <img src="{{ confirm }}" width="180px">
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td>
            <table align="right" cellpadding="10" width="300" style="margin-bottom: 1px">
                <tbody>
                <tr style="border-top: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;">
                    <td align="center" style="padding-top: 10px">
                        <h1>Sumario del período reportado</h1>
                    </td>
                </tr>
                <tr style="border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;">
                    <td>
                        <table cellpadding="5" style="border: 2px solid #d3d3d3; margin-bottom: 1px">
                            <tbody>
                            <tr>
                                <td align="center" style="padding-top: 5px">
                                    <h2>Unidades Vendidas</h2>
                                </td>
                                <td align="center" style="padding-top: 5px">
                                    <p style="font-size: 12px;">{{ sale.cantidad }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding-top: 5px">
                                    <h2>Precio de Venta</h2>
                                </td>
                                <td align="center" style="padding-top: 5px">
                                    <p style="font-size: 12px;">{{ sale.precio|floatformat:2 }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding-top: 5px">
                                    <h2>Total de Ventas</h2>
                                </td>
                                <td align="center" style="padding-top: 5px">
                                    <p style="font-size: 12px;">{{ sale.totales|floatformat:2 }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding-top: 5px">
                                    <h2>Porciento de Autor</h2>
                                </td>
                                <td align="center" style="padding-top: 5px">
                                    <p style="font-size: 12px;">{{ xciento|floatformat:2 }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding-top: 5px">
                                    <h2>Anticipo</h2>
                                </td>
                                <td align="center" style="padding-top: 5px">
                                    <p style="font-size: 12px;">{{ sale.libro.anticipo|floatformat:2 }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding-top: 5px">
                                    <h2>Monto amortizado en la etapa</h2>
                                </td>
                                <td align="center" style="padding-top: 5px">
                                    <p style="font-size: 12px;">{{ xciento|floatformat:2 }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding-top: 5px">
                                    <h2>Monto adeudado por pago adelantado</h2>
                                </td>
                                <td align="center" style="padding-top: 5px">
                                    {% if adeudo > 0 %}
                                        <p style="font-size: 12px;">{{ adeudo|floatformat:2 }}</p>
                                    {% else %}
                                        <p style="font-size: 12px;">0,00</p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding-top: 5px">
                                    <h2>Utilidades del autor</h2>
                                </td>
                                <td align="center" style="padding-top: 5px">
                                    {% if utilidades > 0 %}
                                        <p style="font-size: 12px;">{{ utilidades|floatformat:2 }}</p>
                                    {% else %}
                                        <p style="font-size: 12px;">0,00</p>
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>