{% extends "tlist.html" %}
{% load static %}

{% block columns %}
    <tr>
        <th scope="col">No</th>
        <th scope="col">Fecha</th>
        <th scope="col">Título</th>
        <th scope="col">Autor</th>
        {% if request.user.is_superuser %}
            <th scope="col">Enviado</th>
        {% endif %}
        <th scope="col">Operaciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block script_list %}
    <script src="{% static 'js/report/list.js' %}"></script>
    <script>
        {% if request.user.is_superuser %}
            window.superadm = {args: 'si'};
        {% else %}
            window.superadm = {args: 'no'};
        {% endif %}

    </script>
{% endblock %}